@font-face {
  font-family: Himasikan;
  src: url(../../assets/himagsikan.ttf);
}
.nfts-section {
  width: 100vw;
  height: auto;
  background-color: #feeded;
}
.heading {
  text-align: center;
  color: #000000;
  font-family: Himasikan;
  font-size: 4rem;
  padding: 40px 0px;
}
.nfts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 220px;
  padding-bottom: 50px;
}
