* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* cursor: url(), auto; */
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
